<hr>

{% if paginator %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">

  {% if paginator.next_page %}
  <a class="pagination-next" href="{{site.url}}/page{{paginator.next_page}}">Sonraki Sayfa</a>
  {% endif %}

  {% if paginator.previous_page %} {% if paginator.page == 2 %}
  <a class="pagination-previous" href="{{site.url}}/">Önceki Sayfa</a>
  {% else %}
  <a class="pagination-previous" href="{{site.url}}/page{{paginator.previous_page}}/">Önceki Sayfa</a>
  {% endif %}
  {% endif %}

</nav>

{% endif %}

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.google_analytics}}']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>