<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../home.png" width="112" height="28" alt="ne aranmış haber özet sitesi">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Ana Sayfa
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/uguratmaca/trendy-news" target="_blank">
        Github
      </a>

      <a class="navbar-item" href="https://developers.hurriyet.com.tr/" target="_blank">
        HürriyetAPI
      </a>
    </div>
</nav>